img {
    width: 250px;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
}

figure {
    display: table-caption;
    /* border-style: groove;
    border-width: 5px;
    border-color: aqua; */
    border-radius: 5px;
    box-shadow: 9px 8px 12px 0px;
}

figcaption {
    caption-side: bottom;
    text-align: center;
    padding: 10px;
}